$color : #DF80AC;
$font : 'Bison';
$black: #000000;
$background: #FFFFFF;



.App {


  .App-header {
    font-family: $font, sans-serif;
    position: fixed;
    top: 0;
    width: 100;
    z-index: 100;
    border: 2px solid $black;
  }

  .content {
    width: 100vw;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    .left-column {
      background-color: $color;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .right-column {
      position: relative;
      width: 50%;
      height: 100vh;
      background-color: $background;
      margin-top: 10px;
      padding: 30px;
      overflow: auto;

      .gif {
        width: 100%;
        position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
      }

      .column {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .container {
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
        align-content: start;
      }

      .box-with-shadow {
        border: 2px solid black;
        box-shadow: -7px 7px 0px -3px $color, -7px 7px 0px -1px $black;
      }

      .quote {
        font-family: $font;
        font-style: normal;
        font-weight: 300;
        font-size: 27px;
        line-height: 32px;
        letter-spacing: 0.045em;
        color: $black;
      }
    }

    .left-column,
    .right-column {
      flex: 1;
    }
  }
}