$color : #DF80AC;
$font : 'Bison';
$black: #000000;
$background: #FFFFFF;



.App {


  .App-header {
    font-family: $font, sans-serif;
    position: fixed;
    top: 0;
    width: 100;
    z-index: 100;
    border: 2px solid $black;
  }

  .content {
    width: 100vw;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    .left-column {
      background-color: $color;
    }

    .right-column {
      position: relative;
      width: 50%;
      height: 100%;
      background-color: $background;
      margin-top: 10px;
      padding:  30px; 
    
      .gif {
        width: 100%;
        padding-bottom: 75%;
        position: center;
      }
    
      .column {
        display: flex;
        flex-direction: column;
      }
    
      .container {
        width: 80%; 
        height: 60%;
        margin-bottom: 10px; 
        box-sizing: border-box; 
      }
    
      .box-with-shadow {
        border: 2px solid black;
        box-shadow: -7px 7px 0px -3px $color,-7px 7px 0px -1px $black; 
      }
    
      .quote {
        font-family: $font;
        font-style: normal;
        font-weight: 300;
        font-size: 27px;
        line-height: 32px;
        letter-spacing: 0.045em;
        color: $black;
      }
  }

  .left-column,
  .right-column {
    flex: 1;
  }
}
}