$font : #DF80AC;

.App {
  font-family: 'Bison', sans-serif;

  .App-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .content {
    width: 100vw;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    .left-column  {
      background-color :$font;
    }

    .right-column {
      
    }
    .left-column, .right-column {
      flex: 1;
    }
  }
}